{% extends 'base.html.twig' %}

{% block body %}
<div class="column is-6">
    <h2 class="title">Utworzenie kursu</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Utwórz" class="primary-button"/>
    {{ form_end(form) }}

    <a href="{{ path('course_index') }}" class="primary-button">Wróć do listy kursów</a>
</div>
{% endblock %}
